# Database
DATABASE_URL="postgresql://username:password@localhost:5432/webyalaya?schema=public"

# Clerk Authentication
CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."
CLERK_WEBHOOK_SECRET="whsec_..."

# Application
PORT=3001
NODE_ENV=development

# Push Notifications (Web Push)
VAPID_PUBLIC_KEY="your_vapid_public_key_here"
VAPID_PRIVATE_KEY="your_vapid_private_key_here"
VAPID_SUBJECT="mailto:your-email@example.com"

LIVEKIT_URL=wss://your-unique-livekit.livekit.cloud
LIVEKIT_API_KEY="livekit_api..."
LIVEKIT_API_SECRET="livekit_api_secret..."

AWS_REGION="your-aws-region..."
AWS_ACCESS_KEY_ID="access_key_id..."
AWS_SECRET_ACCESS_KEY="secret_access_key..."
AWS_S3_BUCKET_NAME="s3_bucket_name..."
